form action="/" method="post"
    input name="new_todo_name" placeholder="name" type="text"
    input name="new_todo_desc" placeholder="description" type="text"
    input type="submit" value="Add"

- @todo_arr.each do |todo|


    h2 #{todo["id"]}
    h2 #{todo["name"]}
    p #{todo["description"]}
    
    form action="/#{todo["id"]}/delete" method="post"
        input type="submit" value="done"

    form action="/#{todo["id"]}/edit" method="get"
        input type="submit" value="edit"

